<?php
	$user = getUsername();
?>

<head>all notes information</head>
<h1> user </h1>
<table>
	<tr>
		<td>user:</td>
		<td>{$user}</td>
	</tr>
</table>


<h1>login out</h1>
<FORM method="post" action="__URL__/logout/error/2">
<INPUT type="submit" value="登出">
</FORM>

<h1>my notes about this book</h1>
<FORM method="post" action="__URL__/myBookNotes">
<INPUT type="submit" value="myBookNotes">
</FORM>


<h1>my all notes</h1>
<FORM method="post" action="__URL__/myAllNotes">
<INPUT type="submit" value="myAllNotes">
</FORM>


<h1>add a note</h1>
<FORM method="post" action="__URL__/addNote">
<INPUT type="submit" value="add note">
</FORM>

<h1>all public notes</h1>
<FORM method="post" action="__URL__/bookAllNotes">
<INPUT type="submit" value="allNotes">
</FORM>


<h1> book name</h1>

<table>
 <tr>
    <td>bookname:</td>
    <td>{$bookInfo[bookname]}</td>
 </tr>
 <tr>
    <td>picture:</td>
    <td>{$bookInfo[picture]}</td>
 </tr>
 </table>


<h1>notes list</h1>
<h2>notesCount:{$allNotesCount}</h2>
<h2>the first note</h2>
<table>
	<tr>
		<td>id:</td>
		<td>{$allNotes[0][id]}</td>
	</tr>
	<tr>
		<td>bookid:</td>
		<td>{$allNotes[0][bookid]}</td>
	</tr>
	<tr>
		<td>username:</td>
		<td>{$allNotes[0][username]}</td>
	</tr>
	<tr>
		<td>chapter:</td>
		<td>{$allNotes[0][chapter]}</td>
	</tr>
	<tr>
		<td>page:</td>
		<td>{$allNotes[0][page]}</td>
	</tr>
	<tr>
		<td>note:</td>
		<td>{$allNotes[0][note]}</td>
	</tr>
	<tr>
		<td>photo:</td>
		<!-- <td>{$allNotes[0][note]}</td> -->
		<br/>

		<img src = "/yoyoyo/think/Uploads/NotePhotoes/{$allNotes[0][photo]}" alt = "yiya" title = "noto photo" />
		<!-- <img src = "/think/Uploads/NotePhotoes/55850203c0c89.jpg" alt = "yiya" title = "noto photo" /> -->

		<br/>
	</tr>
	<tr>
		<td>create_tiem:</td>
		<td>{$allNotes[0][create_time]}</td>
	</tr>
</table>