<?php
	$user = getUsername();
?>

<head>comments information </head>
<h1> user </h1>
<table>
	<tr>
		<td>user:</td>
		<td>{$user}</td>
	</tr>
</table>


<h1>login out</h1>
<!-- <FORM method="post" action=U("User/logout")> -->
<FORM method="post" action="__URL__/logout">
<INPUT type="submit" value="登出">
</FORM>

<h1> book information</h1>

<table>
 <tr>
    <td>id:</td>
    <td>{$bookInfo[id]}</td>
 </tr>
 <tr>
    <td>bookname:</td>
    <td>{$bookInfo[bookname]}</td>
 </tr>
 <tr>
    <td>ISBN:</td>
    <td>{$bookInfo[isbn]}</td>
 </tr>
 <tr>
    <td>press:</td>
    <td>{$bookInfo[press]}</td>
 </tr>
 <tr>
    <td>author:</td>
    <td>{$bookInfo[author]}</td>
 </tr>
 <tr>
    <td>summary:</td>
    <td>{$bookInfo[summary]}</td>
 </tr>
 <tr>
    <td>picture:</td>
    <td>{$bookInfo[picture]}</td>
 </tr>
 <tr>
    <td>bookzan:</td>
    <td>{$bookzanCount}
 </tr>
 <tr>
 	<td>"用户赞:"</td>
 	<td>
    <!-- <td>{$bookInfo[bookzan]}</td> -->
    <if condition = "$userDianzan eq 1">
    	<td>"Zan"</td>
    <else />
    	<td>"NoZan"</td>
    </if>
	</td>
 </tr>
 </table>

<if condition = "$userDianzan eq 1">

<h1>点赞</h1>
	<FORM method="post" action="__URL__/dianzan/dian/1">
	<INPUT type="submit" value="点赞">
	</FORM>
<else />
	<FORM method="post" action="__URL__/dianzan">
	<INPUT type="submit" value="点赞">
	</FORM>
</if>



 <h1>add comment</h1>
<FORM method="post" action="__URL__/addComment">
<textarea name = 'comment' id = 'comment' cols="60" rows="10">添加新评论...</textarea>
<INPUT type="submit" value="提交">
</FORM>


<FORM method="post" action="__URL__/goNote">
<INPUT type="submit" value="biji">
</FORM>




<h1>comments list</h1>
<h2>commentCount:{$commentsCount}</h2>
<h2>the first comment</h2>
<table>
	<tr>
		<td>id:</td>
		<td>{$commentsList[0][id]}</td>
	</tr>
	<tr>
		<td>bookid:</td>
		<td>{$commentsList[0][bookid]}</td>
	</tr>
	<tr>
		<td>username:</td>
		<td>{$commentsList[0][username]}</td>
	</tr>
	<tr>
		<td>parentid:</td>
		<td>{$commentsList[0][parentid]}</td>
	</tr>
	<tr>
		<td>comment:</td>
		<td>{$commentsList[0][comment]}</td>
	</tr>
	<tr>
		<td>create_tiem:</td>
		<td>{$commentsList[0][create_time]}</td>
	</tr>



</table>

